[submodule "reset/reset/exercise1"]
	path = reset/reset/exercise1
	url = https://github.com/Divija1002/git_katas_1
[submodule "reset/exercisenew"]
	path = reset/exercisenew
	url = https://github.com/Divija1002/git_katas_1.git
[submodule "basic-commits/basic-commits"]
	path = basic-commits/basic-commits
	url = https://github.com/Divija1002/basic-commits.git
[submodule "basic-staging/basic-staging"]
	path = basic-staging/basic-staging
	url = https://github.com/Divija1002/basic-staging.git
