[submodule "reset/reset/exercise1"]
	path = reset/reset/exercise1
	url = https://github.com/Divija1002/git_katas_1
[submodule "reset/exercisenew"]
	path = reset/exercisenew
	url = https://github.com/Divija1002/git_katas_1.git
[submodule "basic-commits/basic-commits"]
	path = basic-commits/basic-commits
	url = https://github.com/Divija1002/basic-commits.git
[submodule "basic-staging/basic-staging"]
	path = basic-staging/basic-staging
	url = https://github.com/Divija1002/basic-staging.git
[submodule "basic-branching/basic-branching"]
	path = basic-branching/basic-branching
	url = https://github.com/Divija1002/basic-branching.git
[submodule "ff-merge/ff-merge"]
	path = ff-merge/ff-merge
	url = https://github.com/Divija1002/ff-merge.git
[submodule "3-way-merge/3-way-merge"]
	path = 3-way-merge/3-way-merge
	url = https://github.com/Divija1002/3-way-merge.git
[submodule "merge-conflict/merge-conflict"]
	path = merge-conflict/merge-conflict
	url = https://github.com/Divija1002/merge-conflict.git
[submodule "merge-mergesort/merge-mergesort"]
	path = merge-mergesort/merge-mergesort
	url = https://github.com/Divija1002/merge-mergesort.git
[submodule "rebase-branch/rebase-branch"]
	path = rebase-branch/rebase-branch
	url = https://github.com/Divija1002/rebase-branch.git
[submodule "basic-revert/basic-revert"]
	path = basic-revert/basic-revert
	url = https://github.com/Divija1002/basic-revert.git
[submodule "reset/reset_new"]
	path = reset/reset_new
	url = https://github.com/Divija1002/reset_new.git
[submodule "basic-cleaning/basic-cleaning"]
	path = basic-cleaning/basic-cleaning
	url = https://github.com/Divija1002/basic-cleaning.git
[submodule "amend/amend"]
	path = amend/amend
	url = https://github.com/Divija1002/amend.git
[submodule "reorder-the-history/reorder-the-history"]
	path = reorder-the-history/reorder-the-history
	url = https://github.com/Divija1002/reorder-the-history.git
[submodule "squashing/squashing"]
	path = squashing/squashing
	url = https://github.com/Divija1002/squashing.git
